!!! 5
%html
	%head
		%title			
			- if @set == true
				Darkroom &rarr; #{@user['name']} &rarr; sets &rarr; #{@set_name}
			- else
				Darkroom &rarr; #{@user['name']}'s Latest Photos
		!= haml(:"_head", :layout => false)
	%body
		#wrapper
			#header
				%img{:src => @user['avatar'], :width => "48", :height => "48"}
				%h1
					- if @set == true
						%a{:href => "/photos/#{@user['name']}"} #{@user['name']}
						&rarr; 
						%a{:href => "/photos/#{@user['name']}/sets"} sets
						&rarr; #{@set_name}
					- else
						#{@user['name']}'s Latest Photos
				%p{:id => "blurb"} Page #{@page} of #{@pages}
				#darkroom
					%a{:href => "/"} Darkroom&nbsp;
			%ul{:id => "photos"}
				- @photos.each do |photo|
					%li
						%a(href="#{photo['url']}")
							%img{:src => photo['large_url'], :width => photo['width'], :height => photo['height']}
						.details
							%h2
								%a{:href => photo['url']}=photo['title']
							%p!="#{photo['description']}"
							- if photo['comments'] == 1
								%p{:class => "comments"}
									%a{:href => "#{photo['url']}#comments"} #{photo['comments']} comment
							- else 
								%p{:class => "comments"} 
									%a{:href => "#{photo['url']}#comments"} #{photo['comments']} comments
			#nav
				#footer
					%a{:href => "/"} Darkroom
					by
					%a{:href => "http://jimwhimpey.com"} Jim Whimpey
				- if Integer(@pages) > @page && Integer(@pages) != @page
					- if @set == true
						%a{:href => "/photos/#{@username}/sets/#{@set_id}/#{@page_next}", :id => "older", :class => "nav"}
							%span &lsaquo;
							Older
					- else
						%a{:href => "/photos/#{@username}/#{@page_next}", :id => "older", :class => "nav"}
							%span &lsaquo;
							Older
				- if @page > 1
					- if @set == true
						%a{:href => "/photos/#{@username}/sets/#{@set_id}/#{@page_prev}", :id => "newer", :class => "nav"}
							Newer
							%span &rsaquo;
					- else
						%a{:href => "/photos/#{@username}/#{@page_prev}", :id => "newer", :class => "nav"}
							Newer
							%span &rsaquo;
		!= haml(:"_stats", :layout => false)